#General build artifacts
*.mk
*.o
*.a
*.elf
*.hex
*.axf
*.d
*.lst
*.map
*.plg
*.lnp
*.crf
*.tra
*.sct
*.bak
*.dep
*.launch
*makefile
*.ld
*.bin
*.log
*.su

#MDK-ARM
*.__i
*.htm
*.uvgui.*
*.uvopt
*.axf

#Eclipse
.metadata

#Mac
.DS_Store

.mcuxpressoide_packages_support/
AzureRTOS_TAD_logs/
FreeRTOS_TAD_logs/
Debug/
Release/

*.launch
